@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Add one to the counter</button>

<button class="btn btn-primary" @onclick="DecrementCount">Subtract one from the counter</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        if (currentCount > 0)
        {
            currentCount--;
        }
    }
}
